<p><a target="_blank" href="https://app.eraser.io/workspace/kC4sKhb7Nll1dxzNMfLl" id="edit-in-eraser-github-link"><img alt="Edit in Eraser" src="https://firebasestorage.googleapis.com/v0/b/second-petal-295822.appspot.com/o/images%2Fgithub%2FOpen%20in%20Eraser.svg?alt=media&amp;token=968381c8-a7e7-472a-8ed6-4a6626da5501"></a></p>

# Verification Phase
![Verification Phase](/.eraser/kC4sKhb7Nll1dxzNMfLl___UydW6JsZqUfMKeGDrIN0gtNI4pO2___---figure---rrI-iALiBO-Qivs1XlWj1---figure---p0gvO8MPBVDdkwR1N3WfOg.png "Verification Phase")

**Flow chart**

![image.png](/.eraser/kC4sKhb7Nll1dxzNMfLl___UydW6JsZqUfMKeGDrIN0gtNI4pO2___4CmA6-X99UyccDS6VmsMG.png "image.png")




<!--- Eraser file: https://app.eraser.io/workspace/kC4sKhb7Nll1dxzNMfLl --->